@font-face {
    font-family:"Roboto" ;
    src: url(../font/Roboto-Black.ttf);
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-transform: uppercase;
}

h2 {
    font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: lighter;
}

p {
    font-family: "roboto";
    font-size: 18px;
    font-weight: bolder;
}